.block.dirt {
  --texture: url("images/dirt.png");
}

.block.grass_block {
  --texture: url("images/grass_block_side.png");
  --texture-top: url("images/grass_block_top.png");
  --texture-bottom: url("images/dirt.png");
}

.block.grass {
  --texture: url("images/grass.png");
}

.block.oak_log {
  --texture: url("images/oak_log.png");
  --texture-y: url("images/oak_log_top.png");
}

.block.oak_leaves {
  --texture: url("images/oak_leaves.png");
}

.block:is(.oak_planks, .oak_slab) {
  --texture: url("images/oak_planks.png");
}

.block.stone {
  --texture: url("images/stone.png");
}

.block.cobblestone {
  --texture: url("images/cobblestone.png");
}

.block.snow {
  --texture: url("images/snow.png");
}

.block.copper {
  --texture: url("images/copper.png");
}

.block.glass {
  --texture: url("images/glass.png");
}
