* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
  image-rendering: pixelated;
  outline: none;
  text-shadow: 2px 2px 0px black;
}

:root {
  --gui-scale: 3;
}

body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: calc(var(--gui-scale) * 8px);
  color: white;
}

#status {
  position: fixed;
  bottom: calc(var(--gui-scale) * 24px);
  text-align: center;
  width: 100vw;
  pointer-events: none;
}

#saveClose {
  position: fixed;
  right: 0;
  top: 0;
  margin: calc(var(--gui-scale) * 8px);
}

dialog {
  position: fixed;
  color: inherit;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

dialog[open] {
  display: flex;
}

dialog::backdrop {
  background-color: #0004;
}

#buttons {
  position: fixed;
  right: 0;
  top: 0;
  padding: calc(var(--gui-scale) * 4px);
}

#hotbar {
  position: fixed;
  width: calc(184px * var(--gui-scale));
  height: calc(23px * var(--gui-scale));
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("images/hotbar.png");
  background-repeat: no-repeat;
  background-size: calc(182px * var(--gui-scale));
  background-position: center bottom;
  padding: calc(4px * var(--gui-scale));
  padding-bottom: calc(3px * var(--gui-scale));
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: calc(4px * var(--gui-scale));
  scrollbar-width: none;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: initial;
}

#hotbar .slot {
  position: relative;
  scroll-snap-stop: always;
  scroll-snap-align: center;
  width: calc(16px * var(--gui-scale));
  height: calc(16px * var(--gui-scale));
  padding: calc(2px * var(--gui-scale));
  background-size: calc(16px * var(--gui-scale)); /* for flat item textures */
  background-repeat: no-repeat;
  background-position: center;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hotbar .slot.selected::after {
  content: "";
  position: absolute;
  left: calc(-4px * var(--gui-scale));
  top: calc(-4px * var(--gui-scale));
  right: 0;
  bottom: 0;
  width: calc(24px * var(--gui-scale));
  height: calc(24px * var(--gui-scale));
  background-image: url("images/hotbar_selected.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(24px * var(--gui-scale));
  pointer-events: none;
}

/* ------------------------------------------- */

@property --block-size {
  syntax: "<length>";
  inherits: true;
  initial-value: 128px;
}

#viewport {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  perspective: 512px;
}

#camera {
  transform-style: preserve-3d;
  pointer-events: none;
  transform-origin: 100% 100%;
}

#world {
  --block-size: 100px;
  position: absolute;
  pointer-events: none;
  transform-style: preserve-3d;
}

.block {
  --x: 0;
  --y: 0;
  --z: 0;
  --width: var(--block-size);
  --height: var(--block-size);
  --length: var(--block-size);
  --texture: none;
  --texture-y: var(--texture);
  --texture-top: var(--texture-y);
  --texture-bottom: var(--texture-y);
  --texture-x: var(--texture);
  --texture-left: var(--texture-x);
  --texture-right: var(--texture-x);
  --texture-z: var(--texture);
  --texture-front: var(--texture-z);
  --texture-back: var(--texture-z);
  transform-style: preserve-3d;
  position: absolute;
  padding: 0;
  transform: translate3D(calc(var(--x) * var(--block-size)), calc(-1 * var(--y) * var(--block-size)), calc(var(--z) * var(--block-size)));
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: initial;
}

.face {
  position: absolute;
  width: var(--block-size);
  height: var(--block-size);
  backface-visibility: inherit;
  transform-style: flat;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  background-image: var(--texture);
  background-repeat: repeat;
  background-size: cover;
}

.block:hover > .face {
  box-shadow: 0px 0px 0px 1px black;
}

.face.front {
  background-image: var(--texture-front);
  transform: translateZ(calc(var(--length) / 2));
  width: var(--width);
  height: var(--height);
  filter: brightness(0.9);
}

.face.back {
  background-image: var(--texture-back);
  transform: rotateY(180deg) translateZ(calc(var(--length) / 2));
  width: var(--width);
  height: var(--height);
  filter: brightness(0.6);
}

.face.right {
  background-image: var(--texture-right);
  transform: rotateY(90deg) translateZ(calc(var(--width) / 2));
  width: var(--length);
  height: var(--height);
  filter: brightness(0.8);
}

.face.left {
  background-image: var(--texture-left);
  transform: rotateY(-90deg) translateZ(calc(var(--width) / 2));
  width: var(--length);
  height: var(--height);
  filter: brightness(0.7);
}

.face.top {
  background-image: var(--texture-top);
  transform: rotateX(90deg) translateZ(calc(var(--height) / 2));
  width: var(--width);
  height: var(--length);
  filter: brightness(1);
}

.face.bottom {
  background-image: var(--texture-bottom);
  transform: rotateX(-90deg) translateZ(calc(var(--height) / 2));
  width: var(--width);
  height: var(--length);
  filter: brightness(0.5);
}

#ui .block {
  pointer-events: none;
  --block-size: calc((16px * 0.6) * var(--gui-scale));
  transform: rotateX(-35.264389682754654315377000330019deg) rotateY(45deg) rotateZ(0deg);
}

/* ------------------------------------------------------------- */

.block.cube {
  --width: var(--block-size);
  --height: var(--block-size);
  --length: var(--block-size);
}

.block.slab {
  --height: calc(var(--block-size) * 0.5);
}

.block.slab.slab_bottom {
  transform: translate3D(calc(var(--x) * var(--block-size)), calc(-1 * var(--y) * var(--block-size) + var(--block-size) * 0.25), calc(var(--z) * var(--block-size)));
}

.block.slab.slab_top {
  transform: translate3D(calc(var(--x) * var(--block-size)), calc(-1 * var(--y) * var(--block-size) - var(--block-size) * 0.25), calc(var(--z) * var(--block-size)));
}

.block.slab.slab_bottom .face {
  background-position: bottom;
}

.block.slab.slab_top .face {
  background-position: top;
}

.block.cutout .face {
  background-image: none;
}

.block.cutout .face.cross1 {
  backface-visibility: visible;
  background-image: var(--texture);
  box-shadow: none !important;
  transform: rotateY(45deg);
}

.block.cutout .face.cross2 {
  backface-visibility: visible;
  background-image: var(--texture);
  box-shadow: none !important;
  transform: rotateY(315deg);
}
